<div class="img">
    <div class="mai">
        <div class="main">
            <div class="img_text">Specialty Treatments</div>
        </div>
    </div>
</div>

<div class="main body_text">
    <div class="line">
        <div>
            <img class="img1" src="../../assets/Specialty_Treatments2.png" alt="">
        </div>
        <div class="text1">
            <div>
                <h3>Body Scrub:</h3>
                <p>A popular treatment similar to a facial but for the body. Body scrubs exfoliate and hydrate the skin,
                    leaving it smooth and soft. This helps to unclog pores, exposing the skin’s healthy layers beneath.
                </p>
                <p>$40</p>
            </div>
            <div>
                <h4>Herbal Steam:</h4>
                <p>The herbal steam is infused with essential oils and therapeutic herbs, which purifies the body. It
                    softens stiff muscle tissues, relieves stress, and rejuvenates the skin. It is an excellent health
                    and beauty treatment.</p>
                <p>$40</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line">
        <div>
            <img class="img2" src="../../assets/Specialty_Treatments3.png" alt="">
        </div>

        <div class="text2">
            <h3>Massage Upgrades:</h3>
            <ul>
                <li>
                    <div>Add Hot Stone </div>
                    <div>$5</div>
                </li>
                <li>
                    <div>CBD Oil Treatment</div>
                    <div>$5</div>
                </li>
                <li>
                    <div>Foot Scrub</div>
                    <div>$10</div>
                </li>
                <li>
                    <div>Sinus Soother Treatment</div>
                    <div>$10</div>
                </li>
                <li>
                    <div>Cupping</div>
                    <div>$10</div>
                </li>
                <li>
                    <div>Scalp Massage</div>
                    <div>$15</div>
                </li>
                
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line">
        <div class="text3">
            <h3>Waxing Services: </h3>
            <ol>
                <li>
                    <span>Full Face</span>
                    <span>$30</span>
                    <span>Eyebrows</span>
                    <span>$10</span>
                </li>
                <li>
                    <span>Chin</span>
                    <span>$15</span>
                    <span>Lip</span>
                    <span>$12</span>
                </li>
                <li>
                    <span>Full Arm</span>
                    <span>$40</span>
                    <span>Half Arm</span>
                    <span>$20</span>
                </li>
                <li>
                    <span>Full Leg</span>
                    <span>$50</span>
                    <span>Half Leg</span>
                    <span>$30</span>
                </li>
                <li>
                    <span>Underarms</span>
                    <span>$20</span>
                    <span>Back</span>
                    <span>$50</span>
                </li>
                <li>
                    <span>Bikini</span>
                    <span>$35</span>
                    <span>Brazilian</span>
                    <span>$55</span>
                </li>
            </ol>
        </div>
        <div>
            <img class="img3" src="../../assets/Specialty_Treatments4.png" alt="">
        </div>
        <div class="clear"></div> 
    </div>
</div>
