<div class="img">
    <div class="mai">
        <div class="main">
            <div class="img_text">Specials & Gift Cards</div>
        </div>
    </div>
</div>
<div class="main body_text">
    <h1>February Specials</h1>
    <div class="img1">
        <img class="photo" src="../../assets/Specials_&_GiftCards2.png" alt="">
    </div>
    <p class="hope">Happy New 2020 to all our wonderful customers! Wish you a great health in 2020!</p>
    <hr class="main">
    <h2>Gift Cards</h2>
    <p>
        Gift your friends, loved ones, and co-workers an experience that will revive their spirit! Let them know that
        you care for their well-being with an Escape Spa gift card.
    </p>
    <p>Minimum gift card purchase amount is $25.</p>
    <h4>Please Note:</h4>
    <ul>
        <li>*Gift cards can not be refunded, redeemed for cash, or used for tips.</li>
        <li>*Gift cards will expire 6 months after purchase date. </li>
        <li>*Escape Spa is not responsible for lost or stolen gift cards.</li>
    </ul>
</div>