.mat-toolbar {
    background-color:yellow;
    overflow:auto;
    display: grid;
    grid-template-columns: 5% 80% 15%;
   
}
.material-icons mdc-top-app-bar__navigation-icon mdc-icon-button {
    border: grey;
    background-color: turquoise;
}
.titletext {
    text-align: center;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;     
}
.search {
    border: 1px;
    background-color: yellow;
    display: grid;
    grid-template-columns:80% 20%;
}
.search_input{ 
    margin: 0 auto;
    border-radius: 10px;
    border: none; 
    
}
.button{
    margin-left: -35px;
    
    cursor: pointer;
    margin-top: 8px;
}