<div class="img">
    <div class="mai">
        <div class="main">
            <div class="img_text">Massage Therapy</div>
        </div>
    </div>
</div>
<div class="main body_text">
    <h1>Relaxation Massage</h1>

    <h3>Escape Signature Massage:</h3>
    <p>
        A blend of Eastern and Western techniques using slow movements, medium to strong pressure and comforting
        strokes. This treatment relieves fatigue, reduces tension, calms the nervous system & provides renewed energy.
    </p>
    <div class="price">
        <span>60 min/$60</span>
        <span>90 min/$90 </span>
        <span>120 min/$115</span>
    </div>

    <h3>Swedish Massage:</h3>
    <p>
        A classic European massage style which manipulates superficial layers of the muscles with light to medium
        pressure. Gentle and soothing strokes are used to improve muscle tone and flexibility.
    </p>
    <div class="price">
        <span>60 min/$60</span>
        <span>90 min/$90 </span>
    </div>

    <h3>Hot Stone Therapy:</h3>
    <p>
        Tranquil and efficient, this massage uses water heated basalt stones upon key points of the body. The direct
        heat relaxes the muscles, allowing manipulation of greater intensity. This eases poor circulation, muscular
        pain, and tension.
    </p>
    <div class="price">
        <span>60 min/$70</span>
        <span>90 min/$100 </span>
    </div>

    <h3>Pregnancy Massage:</h3>
    <p>
        Designed to relieve the common discomforts of pregnancy while promoting maternal and fetal well being.
    </p>
    <div class="price">
        <span>60 min/$70</span>
        <span>90 min/$100 </span>
    </div>

    <hr class="main">

    <h1>Therapeutic Massage</h1>
    <div class="price">
        <span>30 min/$40</span>
        <span>60 min/$65</span>
        <span>90 min/$95</span>
        <span>120 min/$120 </span>
    </div>

    <h3>Deep Tissue Massage:</h3>
    <p>
        Effective for loosening tight muscles and chronic tension. This treatment benefits those who engage in vigorous
        physical activity, experience consistent pain, or have sustained an injury.
    </p>
    <h3>Pain Relief:</h3>
    <p>
        If you suffer from any specific bodily pain, a combination of our acupoint healing massage will help with
        relief. Pain relief treatments involve hot/cold therapy, cupping, herbs, and more.
    </p>
    <h3>Sports Massage:</h3>
    <p>
        This massage is ideal for healing. This preventive treatment benefits the health of muscle and connective
        tissue, range of movement, quality of posture and improvement of endurance.
    </p>

    <hr class="main">

    <h1>Eastern Massage</h1>
    <div class="price">
        <span>30 min/$40</span>
        <span>60 min/$70</span>
    </div>

    <h3>Acupressure:</h3>
    <p>
        Uses rhythmic compression techniques and various energy channels to establish a harmonious flow of Qi throughout
        the body. It restores balance and deeply impacts the positive energy within the body.
    </p>
    <h3>Thai Massage:</h3>
    <p>
        A combination of yoga and message that involves a series of stretches. This session aids in muscle compression
        and joint mobilization.
    </p>
    <h3>Cupping Massage:</h3>
    <p>
        Uses the art of suctioning the skin to release adhesions in the deep fascia and muscles. It relieves pain from
        chronic injuries by increasing blood and lymph flow of the circulatory system.
    </p>
    <h3>Oriental Bar Therapy:</h3>
    <p>
        The therapist will stabilize upon overhead bars to initiate deep compressive strokes with their feet. The
        muscles will feel lengthened and relaxed afterward.
    </p>

    <hr class="main">


    <h3>Chair Massage: </h3>
    <p>
        Convenient and simple sessions that will take around 20-30 minutes to complete. Chair massages relieve muscle
        pain and spasms in a relatively short amount of time.
    </p>
    <div class="price">
        <span>20 min/$20</span>
        <span>30 min/$30</span>
    </div>
</div>