<div style="background-color: transparent;">
    <mat-toolbar class="main" style="background-color: transparent;">
        <mat-toolbar-row>
          <button class="x">x</button>
        </mat-toolbar-row>
      
        <mat-toolbar-row class="mat-toolbar-rowy">
          <button>Home</button>
          <button>New Page</button>
          <button>Massage Therapy</button>
          <button>Foot Reflexology</button>
          <button>Facials</button>
          <button>Specialty Treatments</button>
          <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
        </mat-toolbar-row>
      
        <mat-toolbar-row class="mat-toolbar-rowy">
          <button>EScape Packages</button>
          <button>Specials & GIftcards</button>
          <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>
</div>
