<div class="main1_text">
    <img  class="photo" src="././assets\spa-png-images-6.png" alt="不加载文字" title="移动上去文字">
    <br>
    <div class="text">
        <h1 id="head1" style="text-align: center;">
            Welcome to Escape Spa
        </h1>        
        <p class="p1">
        Escape Spa was founded in 2010 with the commitment of delivering health & wellness to its clientele. Our goal is to improve & maintain health using natural methods. We offer a variety of treatments focused on
        restoring the balanced, harmonious state between the mind & body. We offer these services at affordable prices because we believe they are essential for long-term health.
        </p>
        <p class="p1">
        Plan your Escape today and discover a new approach to holistic healing & body maintenance! Free yourself both inside & out with regularly scheduled sessions. We simply aim to provide personal care & a
        calm environment. You will find that our spa is the best place to Escape into relaxation, restoration & rejuvenation!
        </p>
    </div>
</div>
<div class="main2_text">
    <img class="photo" src="././assets\2.png" alt="不加载文字" title="移动上去文字">
    <div class="total">
        <h3 id="head2" >We are open  7  days a week!</h3>
        <ul class="text">
            <li>Monday-Saturday:10 AM-10 PM</li>
            <li>Sunday:12 PM-9 PM</li>
            <br>
            <li>Walk-ins are welcome & be sure to check out our monthly specials! Gift cards are available in store.</li>
            <li class="mail">
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">
                    <span class="material-icons" title="邮件"> Femail</span>
                </a>
            </li>
        </ul>   
    </div>
    
</div>
<div class="bottom">
    <iframe class="map" title="地图" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.685095448054!2d103.83936036533846!3d36.05239053010934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x365a93f23a147597%3A0xe27bfbcb589ff54f!2z5Lit5Zu95YWw5bee5biC5Z-O5YWz5Yy65Lic5pa557qi5bm_5Zy6!5e0!3m2!1szh-CN!2sus!4v1610423838188!5m2!1szh-CN!2sus" ></iframe>

    <div class="t">
        <ul class="text1 text">
            <li class="li">Location:</li>
            <li class="li">9600 Conners,Road Suite C</li>
            <li class="li">Villa Rica,GA 30180</li>
        </ul>
        <ul class="text2 text">
            <li class="li">Contact us reservations:</li>
            <li class="li">678-840-5099</li>
        </ul>
    </div>
</div>