<div class="img">
    <div class="mai">
        <div class="main">
            <div class="img_text">Facials</div>
        </div>
    </div>
</div>
<div class="main body_text">
    <h2>Mini Facial:</h2>
    <p>
        This treatment revitalizes and refreshes the skin, making it truly glow afterwards! It give you tighter,
        smoother, and healthie skin in a short amount of time at a low cost. It includes cleansing, toner, exfoliation,
        face mask, and moisturizer.
    </p>
    <p>$40</p>
    <hr class="main">
    <h2>Signature Facial:</h2>
    <p>
        A renewing, rejuvenating, and rehydrating facial using advanced natural products to combat aging, dehydration,
        acne and blemished skin. This treatment focuses on skin concerns such as congestion, sensitivity, fine lines,
        lack of radiance, and loss of firmness. It includes deep pore cleansing, exfoliation, extrapolations, steam,
        facial massage, face mask, and moisturizer. This facial can be customized and tailored to your specific needs.
    </p>
    <p>$70</p>
</div>