<div class="img">
    <div class="mai">
        <div class="main">
            <div class="img_text">Escape Packages</div>
        </div>
    </div>
</div>
<div class="main body_text">
    <h1>Mini Escapes</h1>
    <ul>
        <li>
            <h3>Body Scrub + Body Massage: </h3>
            <div>
                <span class="main_text_left">60 min/$70</span>
                <span>90 min/$100 </span>
            </div>
        </li>
        <li>
            <h3>Body Massage + Herbal Steam:</h3>
            <div>
                <span class="main_text_left">60 min/$70</span>
                <span>90 min/$100 </span>
            </div>
        </li>
        <li>
            <h3>Facial + Massage:</h3>
            <div>
                <span class="main_text_left">60 min/$70</span>
                <span >90 min/$100 </span>
            </div>
        </li>
        <li>
            <h3>Table + Feet Combo:</h3>
            <div>
                <span class="main_text_left">60 min/$60</span>
            </div>
        </li>
        <li>
            <h3>Chair Massage + Feet Massage:</h3>
            <div>
                <span class="main_text_left">60 min/$55</span>
            </div>
        </li>
    </ul>
    <hr class="main">
    <h1>Luxury Escapes</h1>
    <ul>
        <li>
            <h3>Relaxation Package: </h3>
            <div >
                <div class="main_text_right">Relaxation Massage, Body scrub, Herbal Steam, & Scalp Massage</div>
                <div>120 min/$130 </div>
            </div>
        </li>
        <li>
            <h3>Beauty Package:</h3>
            <div>
                <div class="main_text_right">Body Massage, Mini Facial, Herbal Steam, & Body Scrub</div>
                <div>120 min/$150 </div>
            </div>
        </li>
    </ul>
</div>
